<div class="container-fluid"> <!-- Container -->
    <mat-card class="miTarjetita"> <!--  Tarjeta con nuestra clase Mi tarjetita es nuestra clase-->
        <div class="row "> <!-- Row  -->

            <div class="col-md-6"> <!-- Col -->

                <p class="fw-bold">About Me</p> <!-- Clase de boostrap fw-bold para poner negrita -->

                From a young age, I’ve always had a sense of motivation and passion driving me forward. Whether it’s exploring unique opportunities, learning additional skills, or meeting new people, I bring these values to every experience throughout my life on a personal and professional level.

                Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.

                To learn more about me, keep exploring my site or reach out directly.


            </div>

            <div class="col-md-6">
                <p class="fw-bold">Basic Information: <span class="fw-normal"> PEPE</span></p> <!-- P es para textos, fw-bold pone en negrita y luego span pone un texto en la misma linea con fw-normal (sin negrita) -->
                <p class="fw-bold">DATE OF BIRTH: <span class="fw-normal"> PEDRO</span></p>
                <p class="fw-bold">Email: <span class="fw-normal"> PEDRO</span></p>
                <p class="fw-bold">DATE OF BIRTH: <span class="fw-normal"> PEDRO</span></p>
                <p class="fw-bold">DATE OF BIRTH: <span class="fw-normal"> PEDRO</span></p>
            </div>

        </div>
    </mat-card>

    <div class="separarSeccion"> <!-- separarSeccion es nuestra, se usa para alejar un poco de arriba-->
        <div class="row"> <!-- row -->
            <div class="col-md-12 text-center"> <!-- col con text-center para centrar -->
                
                <p class="fw-bold fs-1">Mi Experiencia</p>

            </div>

        </div>

        <mat-card class="miTarjetita">
            <div class="row text-center">
    
                <div class="col-md-6">
    
                    <p class="fw-bold">About Me</p>
    
                    From a young age, I’ve always had a sense of motivation and passion driving me forward. Whether it’s exploring unique opportunities, learning additional skills, or meeting new people, I bring these values to every experience throughout my life on a personal and professional level.
    
                    Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.
    
                    To learn more about me, keep exploring my site or reach out directly.
    
    
                </div>
    
                <div class="col-md-6">
                    <p class="fw-bold">Basic Information: <span class="fw-normal"> PEPE</span></p>
                    <p class="fw-bold">DATE OF BIRTH: <span class="fw-normal"> PEDRO</span></p>
                    <p class="fw-bold">Email: <span class="fw-normal"> PEDRO</span></p>
                    <p class="fw-bold">DATE OF BIRTH: <span class="fw-normal"> PEDRO</span></p>
                    <p class="fw-bold">DATE OF BIRTH: <span class="fw-normal"> PEDRO</span></p>
                </div>
    
            </div>
        </mat-card>
    

        
    </div>
</div>

