<div class="container-fluid">
  <mat-card class="miTarjetita">
    <div class="row">
      <div class="col-md-6">
        <p class="fw-bold">ABOUT ME</p>
        Hola, que gusto verte por mi web! Tengo 31 años, soy de la ciudad de
        Berisso, aunque nací en La Plata. Me gusta investigar, aprender cosas
        nuevas, innovar, son cosas que llevan tiempo y dedicación y a veces se
        dificulta, hay que darlo todo!. Actualmente estoy aprendiendo del mundo
        de la programación, es un gran desafío. También me gustan los
        videojuegos, entrenar, cantar y dibujar. Espero verte pronto de nuevo
        por aquí, saludos!.
      </div>

      <div class="col-md-6">
        <p class="fw-bold">
          Basic Information: <span class="fw-normal">Sinkunas Juan Pablo</span>
        </p>
        <p class="fw-bold">Age: <span class="fw-normal"> 31</span></p>
        <p class="fw-bold">
          Email: <span class="fw-normal">juanpablosinkunas08@gmail.com</span>
        </p>
        <p class="fw-bold">
          Date of Birth: <span class="fw-normal">04 Junio 1991</span>
        </p>
        <p class="fw-bold">
          Occupation: <span class="fw-normal">Técnico Electromecánico</span>
        </p>
      </div>
    </div>
  </mat-card>

  <div class="separarSeccion">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="fw-bold fs-1">Mi Experiencia</p>
      </div>
    </div>

    <mat-card class="miTarjetita">
      <div class="row">
        <div class="col-md-6">
          <p class="fw-bold">Telemarketer</p>
          Desarrollo de tareas múltiples, recepción, atención al cliente.
        </div>

        <div class="col-md-6">
          <p class="fw-bold">
            Empresa: <span class="fw-normal">La Mandragora</span>
          </p>
          <p class="fw-bold">
            Puesto: <span class="fw-normal">Administrativo</span>
          </p>
          <p class="fw-bold">Lugar: <span class="fw-normal">La Plata</span></p>
          <p class="fw-bold">
            Desde: <span class="fw-normal">Enero 2009</span>
          </p>
          <p class="fw-bold">
            Hasta: <span class="fw-normal">Mayo 2009</span>
          </p>
        </div>
      </div>
    </mat-card>

    <mat-card class="miTarjetita">
        <div class="row">
          <div class="col-md-6">
            <p class="fw-bold">Radio Operador</p>
            Atención al cliente, operador de radio, telefonista, gestión de recursos,
            cobranzas, administración de sistema.
          </div>
  
          <div class="col-md-6">
            <p class="fw-bold">
              Empresa: <span class="fw-normal">ATB Taxis</span>
            </p>
            <p class="fw-bold">
              Puesto: <span class="fw-normal">Radio Operador</span>
            </p>
            <p class="fw-bold">Lugar: <span class="fw-normal">Berisso</span></p>
            <p class="fw-bold">
              Desde: <span class="fw-normal">Julio 2010</span>
            </p>
            <p class="fw-bold">
              Hasta: <span class="fw-normal">Enero 2022</span>
            </p>
          </div>
        </div>
      </mat-card>

      <mat-card class="miTarjetita">
        <div class="row">
          <div class="col-md-6">
            <p class="fw-bold">Administrativo y Reparto</p>
            Atención al cliente, recepción, cobranzas, gestión de pedidos y control
            de stock, entregas, resolución de problemas.
          </div>
  
          <div class="col-md-6">
            <p class="fw-bold">
              Empresa: <span class="fw-normal">Surímí</span>
            </p>
            <p class="fw-bold">
              Puesto: <span class="fw-normal">Administrativo y Reparto</span>
            </p>
            <p class="fw-bold">Lugar: <span class="fw-normal">La Plata</span></p>
            <p class="fw-bold">
              Desde: <span class="fw-normal">Marzo 2022</span>
            </p>
            <p class="fw-bold">
              Hasta: <span class="fw-normal">Actualidad</span>
            </p>
          </div>
        </div>
      </mat-card>
  </div>
</div>
