<nav class="navbar navbar-expand-lg bg-light misEstilos"> <!-- Navbar de Boostrap, la clase misEstilos es Nuestra! esta en app.component.scss -->
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Fabian Cagliardi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav correrElementos">
                <li class="nav-item">
                <button (click)="scrollToIntro();"mat-raised-button>Sobre Mí</button> <!--Los botones son de material! -->
                </li>
                <li class="nav-item">
                <button (click)="scrollToIntro2();" mat-raised-button>Experiencia</button>
                </li>
                <li class="nav-item">
                <button mat-raised-button>Habilidades</button>
                </li>
                <li class="nav-item">
                <button mat-raised-button>Contacto</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
