<nav class="navbar navbar-expand-lg bg-light misEstilos">
    <div class="container-fluid navbar">
        <a class="navbar-brand" class="nombreCompleto" href="#">SINKUNAS JUAN PABLO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav correrElementos">
                <li class="nav-item1">
                <button (click)="scrollToInfo();"mat-raised-button>ABOUT ME</button>
                </li>
                <li class="nav-item2">
                    <button mat-raised-button>EXPERIENCIA</button>
                </li>
                <li class="nav-item3">
                    <button (click)="scrollToHabilidades();" mat-raised-button>HABILIDADES</button>
                </li>
                <li class="nav-item4">
                    <button (click)="scrollToContacto();" mat-raised-button>CONTACTO</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
