
.miTarjetita{

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:80%;
  margin: auto;

  
}

.misEstilos {
  background-color: slategrey;
}

.correrElementos {
  
  margin-left: auto;

}

.nombrePersonalizado{
  margin-top:3%;

  font-weight: bold;

}

.misBotones button{ 

  margin:1%;
  


}


.img-fluid {
height: 90%;
width: 30%;
margin-top: 3%;
}

