
.miTarjetita{

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:80%;
  margin: auto;

  
}

.misEstilos {
  background-color: black;
}

.correrElementos {
  
  margin-left: auto;

}

.fotoCagliardi{

  width:184px;
  margin-top:3%;

}

.nombrePersonalizado{
  margin-top:3%;

  font-weight: bold;

}

.misBotones button{ 

  margin:1%;
  


}

.cagIcon{
  width:24px;
}
