<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="img" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Playstation_logo_colour.svg/1009px-Playstation_logo_colour.svg.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        
      </a>
      <nav class="navbar navbar-expand-lg bg-light align-text-top">
        <a class="navbar-brand" href="#">BIENVENIDOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link activate" aria-current="page" href="#">ACERCA DE MÍ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link activate" href="#">HABILIDADES DURAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link activate" href="#">HABILIDADES BLANDAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link activate">CONTACTO</a>
            </li>
          </ul>
        </div>
      </nav>

    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="../assets/FOTO_20210925_230527.jpg" alt="FOTO" width="400" height="700" [border]="5">
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-6 text-center">
            <div class="card">
                <div class="card-body">
                  TODO LO QUE QUIERAS HACER, PONLO EN PRÁCTICA
                </div>
              </div>

        </div>

        <div class="col-md-6 text-center">
            <div class="card">
                <div class="card-body">
                  NO DUDES EN PERSEGUIR TUS SUEÑOS
                </div>
              </div>


        </div>



    </div>

</div>