<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
                <img src="assets/B612_20190526_203904_890.jpg" class="img-fluid" alt="...">
        </div>
    </div>

    <div class="row">

            <div class="col-md-12 text-center">
                    <p class="nombrePersonalizado fs-3">SINKUNAS JUAN PABLO</p>
                    <p class="fw-normal fs-4">Futuro Programador FullStack</p>
                </div>
            </div>


</div>



<app-seccion-informacion></app-seccion-informacion>

<app-habilidades></app-habilidades>

<app-contact></app-contact>
  
  
  
  