<div class="separarSeccion">
  <div class="row text-center">
    <div class="col-md-12" class="Hab">
      <p class="fw-bold fs-1">HABILIDADES</p>
    </div>
  </div>
</div>

<div class="card col-md-12 text-center">
    <div class="card-body">
      <h2 class="card-title">PACK OFFICE</h2>
      <h3 class="card-subtitle mb-2 text-muted">Conocimiento medio-avanzado</h3>
      <p class="card-text">Manejo de Word, Excel, Power Point</p>
    </div>
</div>

<div class="card col-md-12 text-center">
    <div class="card-body">
      <h2 class="card-title">IDIOMA</h2>
      <h3 class="card-subtitle mb-2 text-muted">Ingles</h3>
      <p class="card-text">Lectura y escritura nivel básico</p>
    </div>
</div>

<div class="card col-md-12 text-center">
    <div class="card-body">
      <h2 class="card-title">PROGRAMACIÓN WEB</h2>
      <h3 class="card-subtitle mb-2 text-muted">En actual desarrollo (Frontend y Backend)</h3>
      <p class="card-text">Manejo de programas cmder, vsc, laravel.</p>
      <p class="card-text">Maquetado con angular y bootstrap.</p>
    </div>
</div>